[submodule "Packages/CSSLint"]
	path = Packages/CSSLint
	url = https://github.com/austinhappel/sublime-csslint
[submodule "Packages/Dotfiles Syntax Highlighting"]
	path = Packages/Dotfiles Syntax Highlighting
	url = https://github.com/mattbanks/dotfiles-syntax-highlighting-st2.git
