[submodule "Packages/CSSLint"]
	path = Packages/CSSLint
	url = https://github.com/austinhappel/sublime-csslint
[submodule "Packages/Dotfiles Syntax Highlighting"]
	path = Packages/Dotfiles Syntax Highlighting
	url = https://github.com/mattbanks/dotfiles-syntax-highlighting-st2.git
[submodule "Packages/EditorConfig"]
	path = Packages/EditorConfig
	url = https://github.com/sindresorhus/editorconfig-sublime
[submodule "Packages/JSLint"]
	path = Packages/JSLint
	url = https://github.com/darrenderidder/Sublime-JSLint.git
[submodule "Packages/Javascript & NodeJS Snippets"]
	path = Packages/Javascript & NodeJS Snippets
	url = https://github.com/zenorocha/sublime-snippets-js.git
