[submodule "Packages/CSSLint"]
	path = Packages/CSSLint
	url = https://github.com/austinhappel/sublime-csslint
[submodule "Packages/Dotfiles Syntax Highlighting"]
	path = Packages/Dotfiles Syntax Highlighting
	url = https://github.com/mattbanks/dotfiles-syntax-highlighting-st2.git
[submodule "Packages/EditorConfig"]
	path = Packages/EditorConfig
	url = https://github.com/sindresorhus/editorconfig-sublime
[submodule "Packages/JSLint"]
	path = Packages/JSLint
	url = https://github.com/darrenderidder/Sublime-JSLint.git
[submodule "Packages/Javascript & NodeJS Snippets"]
	path = Packages/Javascript & NodeJS Snippets
	url = https://github.com/zenorocha/sublime-snippets-js.git
[submodule "Packages/Javascript Console"]
	path = Packages/Javascript Console
	url = https://github.com/caiogondim/js-console-sublime-snippets.git
[submodule "Packages/Javascript Snippets"]
	path = Packages/Javascript Snippets
	url = https://github.com/jprichardson/sublime-js-snippets.git
[submodule "Packages/JavaScriptNext - ES6 Syntax"]
	path = Packages/JavaScriptNext - ES6 Syntax
	url = https://github.com/Benvie/JavaScriptNext.tmLanguage
[submodule "Packages/Javascript Beautify"]
	path = Packages/Javascript Beautify
	url = https://github.com/enginespot/js-beautify-sublime
[submodule "Packages/Markdown Extended"]
	path = Packages/Markdown Extended
	url = https://github.com/jonschlinkert/sublime-markdown-extended.git
[submodule "Packages/Markdown Preview"]
	path = Packages/Markdown Preview
	url = https://github.com/revolunet/sublimetext-markdown-preview
[submodule "Packages/PHPUnit Completions"]
	path = Packages/PHPUnit Completions
	url = https://github.com/tkowalewski/phpunit-sublime-completions.git
